<footer id = "Footer">
    <div class="TextDiv">
        <p class="Top" (click)="toggleState()">About us</p>
        <p [ngClass]="FooterText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti omnis tenetur amet odio ab id </p>
    </div>
    <div class="TextDiv">
        <p class="Top" (click)="toggleState()">Contacts</p>
        <p [ngClass]="FooterText">E-mail: email@gmail.com</p>
    </div>
    <div class="TextDiv">
        <p class="Top" (click)="toggleState()">Address</p>
        <p [ngClass]="FooterText">Somewhere in space and time</p>
    </div>
    <div class = "Icons">
    <div class="Icon">
        <a href="http://www.facebook.com/">
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    <div class="Icon">
        <a href="http://www.twitter.com/">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    <div class="Icon">
        <a href="http://www.youtube.com/">
        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
        </a>
    </div>
 </div>
</footer>