#LoginTable {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-top: 6%;
    width: 1000px;
    text-align: center;
    border-collapse: collapse;
    background-color: #D04E33;

    
}
#LoginTable tr td {
    width: 600px;
    padding-bottom: 3%;
}
i {
    vertical-align: middle;
}
.LoginInfo{
    height:30px;
    width:250px;
}
    button:focus{
    outline: 0;
}

    label {
    font-size: 20px;
    padding-right: 2%;
    
}
    #SubmitSign{
        text-align: center;
        font-size: 20px;
}
.Text {
    float: left;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
}
header {
    margin-top: 5%;
}
#Submit {
    background: #049372;
}
#Submit:hover {
  background: #0a700a;
  text-decoration: none;
}

.InputButton {
    -webkit-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EEEEEE;
    font-size: 20px;
    padding: 0px 20px 10px 20px;
    width: 30%;
    text-decoration: none;
    border:none;
    border-radius: 0px;
    
}
#Delete {
    background:  #D04E33;

}
#Delete:hover {
    background: #ba3306;
    text-decoration: none;
}
