<div class="container">
  <div class="InfoDiv">
    <h1>Users!</h1>
    Only admins can access this page and ban users! <br>
    <app-profile-nav></app-profile-nav>
  </div>
  
  <ul (window:resize)="onResize($event)">
    <li *ngFor="let user of users" >
      <div class = "delete">
        <i [ngClass] = "ExClass" aria-hidden="true" (click) = "Delete(user._id)"></i>
      </div>
     <div class = "UserIcon"><i [ngClass] = "UserIconClass" aria-hidden="true"></i></div> 
      {{user.Username}}
    </li>
  </ul>
</div>