<form (ngSubmit)="onSubmit(f)" #f="ngForm">

  <table id="LoginTable" align="center">
    <header>
      <tr>
        <td>
          <h2>Please enter your new password bellow!</h2>
        </td>
      </tr>
      <tr>
        <td><i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i></td>
      </tr>
    </header>
    <main>
      <tr>
        <td>
          <input type="Password" id="Password" name="Password" placeholder="Password" class="LoginInfo" ngModel required></td>
      </tr>
      <tr>
        <td>
          <input type="Password" id="RepeatPassword" name="RepeatPassword" placeholder="Repeat Password" class="LoginInfo" ngModel required></td>
      </tr>

    </main>
    <footer>
      <tr>
        <td colspan="2"><input type="submit" id="Submit" class="InputButton" value="Change">
          <input type="reset" id="Delete" class="InputButton" value="Clear"></td>
      </tr>
    </footer>
  </table>
</form>
<div [hidden]="passwordsEqual" id="SubmitSign"> Your passwords are not Equal! </div>
